@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

html {
  scroll-padding-top: 4rem;
  /* para que al hacer el scroll desde el nav no quede pegado en la parte de arriba arriba */
  /* scroll-behavior: smooth; */
}

@theme {
  --color-primary: #00A8E8;
  --color-background-dark: #0F1A1E;
  --color-background-card: #1A2B33;
  --color-border: #335466;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #91B8C9;
  --color-input-background: #243D47;

  --font-Manrope: "Manrope", system-ui, sans-serif;
  --font-Codesaver: "Codesaver", system-ui, sans-serif;
}

@font-face {
  font-family: "Manrope";
  src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
  font-display: swap;
}

@font-face {
  font-family: "Codesaver";
  font-weight: 900;
  src: url('./assets/fonts/CodeSaver-Regular.woff2');
  font-display: swap;
}

@layer base {
  * {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
  }

  input,
  textarea {
    font-family: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer
  }

}

@layer components {
  .sectionTitle {
    font-size: 30px;
    font-weight: 800;
    line-height: 28px;
    color: var(--color-text-primary);
    margin-bottom: 28px;
  }

  /* En index.css o global.css */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}